{{#each favorites as |favorite|}}
  <section data-id="{{favorite.id}}">
    <p> 
      <h4> {{favorite.google_place_name}} </h4>
      {{favorite.google_formatted_address}}
      <h6> Comments: {{#if favorite.notes}}
          {{favorite.notes}} </h6>
      {{/if}}
    </p>

    <div> {{> update id=favorite.id}} {{> remove id=favorite.id}} </div>
  </section>

{{/each}}
