<!-- <form class="update-favorite" data-id={{id}}>
  <input name="favorite[notes]" type="text" placeholder="Notes">
  <button type="submit" class="update btn btn-info mr-2">Update Notes</button>
</form> -->
