@import 'variables';

body {
  background-color: $main-color;
  color: $white;
  font-family: 'Bree Serif', serif;

  p {
    font-size: 20px;
    text-align: center;
  }
}

nav {
  background: darken($main-color, 15%);
  color: $white;
  outline: none;
  padding: 1rem;

  h1 {
    color: $white;
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    text-align: center;
  }

  .fav-buttons {
    display: flex;
    justify-content: center;
  }
}

#homepage {
  display: flex;
  justify-content: center;
  padding: 5rem 0 1rem;
}

main {
  @include make-container;
  @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: darken($main-color, 15%);
    border: 1px solid $white;
    margin: auto;
    padding: 15px;
    outline: none;

    p {
      margin-bottom: 0;
    }
  }

  .favorites-content,
  .restaurants-content {
    @include make-row;
    line-height: 0.85;
    overflow: scroll;
    overflow-y: hidden;
    text-align: center;
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 5rem 0 1rem;

  div {
    display: block;
  }

  .footer-buttons {
    display: flex;
    justify-content: center;
  }
}

.btn-outline-light {
  color: $white;
  border-color: $white;
  font-weight: 600;
}
