@import 'variables';

body {
  background-color: $main-color;
  color: $white;
  font-family: 'Bree Serif', serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  p {
    font-size: 20px;
    text-align: center;
  }

    h1 {
      color: $white;
      font-family: 'Lobster Two', cursive;
      font-size: 70px;
      text-align: center;
    }

    .fav-buttons {
      display: flex;
      justify-content: center;
    }
  }

  .navbar {
    background: darken($main-color, 15%);
    color: $white;
    display: block;
    outline: none;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
  }

  #homepage {
    display: flex;
    justify-content: center;
    padding: 5rem 0 1rem;
  }

  main {
    @include make-container;
    @include make-container-max-widths;

    section {
      @include make-col-ready;
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(4);
      }
      background: darken($main-color, 15%);
      border: 1px solid $white;
      height: 135px;
      margin: auto;
      outline: none;

      p {
        margin-bottom: 5px;
      }
    }

    #favorites-content {
      @include make-row;
      line-height: 0.85;
      margin: auto;
      max-height: 700px;
      outline: none;
      overflow: scroll;
      padding: 20px;
      text-align: center;
      width: 100%;

      section {
        height: 180px;
      }
    }
  }

  .favorites-title {
    color: $white;
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    text-align: center;
  }

  footer {
    padding: 5rem 0 1rem;

    div {
      display: block;
    }

    #change-password-modal {
      padding: 20px;
      text-align: center;

      .change-password-message,
      .modal-header {
        color: darken($main-color, 15%);
        text-align: center;
      }

      #change-password-modal-button {
        background-color: darken($main-color, 15%);
        margin: 10px;
      }
    }

    .footer-buttons {
      display: flex;
      justify-content: center;
    }
  }


.btn-outline-light {
  color: $white;
  border-color: $white;
  font-weight: 600;
}

#place-geometry,
#place-id {
  color: white;
}

#map {
  width: 700px;
  margin: 0 auto;
  @media (max-width: 800px) { 
    width: 500px;
   }
   @media (max-width: 560px) {
     width: 300px;
   }
}

#navbar-message, #homepage-message {
  color: white;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
}

// #marker {
//   background-color: red;
//   background-size: cover;
//   width: 50%;
//   height: 50%;
//   border-radius: 50%;
// }
